* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f5f5f5;
}

header {
  background: #111;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

.hero {
  text-align: center;
  padding: 80px 20px;
  background: linear-gradient(to right, #4facfe, #00f2fe);
  color: white;
}

.hero button {
  margin-top: 20px;
  padding: 12px 25px;
  border: none;
  background: #111;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.products {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 50px;
  flex-wrap: wrap;
}

.card {
  background: white;
  width: 250px;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card h3 {
  margin: 15px 0 10px;
}

.card button {
  margin-top: 10px;
  padding: 10px 20px;
  background: #4facfe;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 20px;
}